* {
  padding: 0px;
  margin: 0px;
}
.main {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  text-align: center;
  margin-top: 1%;
}
.hero,
.villan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  column-gap: 5%;
}
.hero {
  margin-left: 20%;
}
.spiderman,
.captain,
.panther,
.thanos,
.cat,
.gem {
  border: 2px solid grey;
  border-radius: 5px;
  height:140px;
}
img{
  margin-top: 2%;
}

